<div id="reglas" class="pcom">
    <div id="nomostrar">
        <h1>Reglas</h1>
    </div>

    <div class="cReglas" id="t01">
      <h2>{{titulo}}</h2>

      <p id="reglas_descrip">
        {{descripcion}}
      </p>

      <p id="firmado">
      </p>
    </div>

    <div class="cReglas" id="t02">

    </div>

    <div id="reglas_tapa">
    </div>

    <!--
    Navegación Interna
    -->
    <a class="flecha" id="fIzquierda">
      &lt;
    </a>
   <a class="flecha" id="fDerecha">
     &gt;
   </a>
    <!--
    Navegación Global
    -->
    <a (click)="rtAni.backFlow('secciones','app')" id="regresar"></a>
</div>
