<div id="mapa">
  <h1 id="nomostrar">Mapa</h1>
  <!--
  Galeria Interna
  -->
  <div class="cGaleria" id="i01">
    <img src="assets/img/objetos/obj01.jpg" class="apa">
    <h2>Titulo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="cGaleria fuera" id="i02">
    <img src="assets/img/objetos/obj02.jpg" class="apa">
    <h2>Titulo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="cGaleria fuera" id="i03">
    <img src="assets/img/objetos/obj03.jpg" class="noApa">
    <h2>Titulo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="cGaleria fuera" id="i04">
    <img src="assets/img/objetos/obj04.jpg" class="noApa">
    <h2>Titulo</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
   <!--
   Navegación Interna
   -->
   <a class="flecha" id="fIzquierda">
     &lt;
   </a>
  <a class="flecha" id="fDerecha">
    &gt;
  </a>
  <!--
  Navegación Global
  -->
  <a (click)="rtAni.goSlideDown('secciones','app')" id="regresar"></a>
</div>
