<div id="sssecciones">
  <router-outlet></router-outlet>
</div>
<div id="p_aventura" class="pcom">
  <div id="nomostrar">
    <h1>Titulo</h1>
  </div>
  <h2>Selección de Personajes:</h2>

    <div id="perso">
      <a [routerLink]="['per-1']" (click)="rtAni.goSlide('p_aventura','sssecciones')" class="personajes" id="perso1">
        <img src="./assets/img/aventura/personajes/per-1.png" width="100%" height="100%">
      </a>
      <a class="personajes" id="perso2">
        <img src="./assets/img/aventura/personajes/per-2.png" width="100%" height="100%">
      </a>
      <a class="personajes" id="perso3">
        <img src="./assets/img/aventura/personajes/per-3.png" width="100%" height="100%">
      </a>
      <a class="personajes" id="perso4">
        <img src="./assets/img/aventura/personajes/per-4.png" width="100%" height="100%">
      </a>
    </div>

    <p id="jota1">A<br>&spades;</p><br>
    <p id="jota2">A<br>&spades;</p>

    <!--
    Navegación Global
    -->
    <a id="regresar" [routerLink]="['../../']" (click)="rtAni.backFlow('secciones','app')"></a>
</div>
