<div id="quiz" class="pcom">
    <div>
        <h1>Quiz</h1>
    </div>

    <!--
    Quiz
    -->
    <div class="cQuiz" id="t01">
      <form id="preguntas" class="ctrivia">
      </form>
      <div id="proviRespuestas" style="display:none;"></div>
    </div>
    <div class="cQuiz fuera" id="t02">
      <form id="respuesta" class="ctrivia">
      </form>
    </div>
    <div class="cQuiz fuera" id="t03">
      <div id="resultados" class="ctrivia">
        <h2>Resultados</h2>
        <p id="mostrar_resultados"></p>
      </div>
    </div>

    <p id="jota1">T<br>&hearts;</p><br>
    <p id="jota2">T<br>&hearts;</p>

    <!--
    Navegación Interna
    -->
    <a class="flecha" id="fIzquierda">
      &lt;
    </a>
   <a class="flecha" id="fDerecha">
     &gt;
   </a>
    <!--
    Navegación Global
    -->
    <a id="regresar"></a>
</div>
